<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav d-flex flex-row">
          <li class="p-2">
            <a href="/">Home</a>
          </li>
          <li class="active p-2">
            <a href="/profile">Profile</a>
          </li>
          <li class="p-2">
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron" style="padding:40px;">
      <h1>My profile</h1>
      <form action="http://localhost:3000/profile" method="post" enctype="multipart/form-data">
        First Name : <input type="text" name="firstName" value="<%= name.firstName %>"><br>
        Last Name: <input type="text" name="lastName" value="<%= name.lastName %>"><br>
        Picture: <input type="file" name="picture" />
        <input type="submit" value="Update">
      </form>
      <% if (name && name.picture && name.picture.path) { %>
      <img style="height: 100px; width: auto;" src="<%= name.picture.path %>">
      <% } %>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>